<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="LayoutFile" value="RussianClassic.zu"/>
      <add key="BindToWindowsLayout" value="1049"/>
      <add key="UseScrollLock" value="False"/>
      <add key="UseEscape" value="True"/>
      <add key="GermanKeyboard" value="False"/>
  </appSettings>
</configuration>
